body, html {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

/*Main-main page*/
.main {
    overflow: hidden;
    background-color: #e9dfe9;
}

.engine-name {
    color: #28a5bb;
}

.engine-comment {
    color: #4d7280;
}

.engine-button {
    background-color:#28a5bb;
    color:#fff;
}
/*main-main page end*/

/*main-engine page*/

.engines {
    overflow: hidden;
    background-color: #e9dfe9;
    width: 100%;
}

.container-engine{
    height:70%;
    width:100% !important;
    padding:0px;
    margin-top:-25px;
}

.engine-caption {
    bottom: 50% !important;
}

.engine-caro {
    height:100%;
}

/* main-engine page end*/


/*Sidebar*/

#wrapper {
    padding-right: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-right: 250px;
}

.table-striped{
    border:none;    
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    right: 250px;
    width: 0;
    height: 100%;
    margin-right: -250px;
    overflow-y: auto;
    background: #38150F;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-left: -250px;
}
/* Sidebar ends */

/* sidebar style */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #DDA943;
    font-size: 20px;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

/* sideabar style end */

/*Engine images*/

.col-left {
    background-color:rgba(40, 165, 187, 0.5);
}

.jumbotron-right-unity, .jumbotron-left-unity {
    background-color:transparent !important;
    width: 100%;
    height: 100%;
}

.col-pic {
    width: 50%;
    height: 40%;
}

/*Engine images end*/

.small-img {
    background-image: url("1.jpg");
    /* Full height */
    height: 100%;
    width: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/*register and login*/

.register_box {
    width: 320px;
    height: 450px;
    background: #38150F;
    color: #F4EFDC;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    border: solid;
    border-color: #DDA943;
}

.register_form {
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 100px;
    vertical-align: central;
}

.msg-send {
    margin-bottom: 10px;
}

.nav-link {
    font-size:25px;
    color:#DDA943 !important;  
}

.nav-item {
    margin-left:20px;
}

.login_box {
    width: 320px;
    height: 380px;
    background: #38150F;
    color: #F4EFDC;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    border:solid;
    border-color:#DDA943;
}

.login_form {
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 100px;
    vertical-align: central;
}


.gdev-avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    left: calc(50% - 50px);
}

.btn.btn-primary.register {
    margin-left:110px;
    background-color:#DDA943;
    border-color:#F4EFDC;
}

.btn.btn-primary.login {
    position: absolute;
    left: calc(50% - 50px);
    bottom: 40px;
    background-color: #DDA943;
    border-color: #F4EFDC;
    font-size: 20px;
}

.user-logo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: solid 1px #F4EFDC;
}

.username {
    color: #DDA943;
    font-size: 60px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
    padding-bottom:40px;
}
p.msg {
    word-break: break-all;
    white-space: normal;
    background: #f4efea;
}

.no_account {
    margin-left: 40px;
    color: #F4EFDC;
}

.btn.btn-primary.logout {
    background-color: #DDA943;
    border-color: #F4EFDC;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
    margin-top: 200px;
}
/*register and login*/


/* page content*/
.page-content-wrapper {
    height:100%;
    width:100%;
}


    
