<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GDevLib - {% block title %} {% endblock %}</title>
    {% load staticfiles %}

    {% block script %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/site.css' %}" />
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>
{% endblock %}
</head>

<body id="body">

    <nav class="navbar fixed-top navbar-expand-lg navbar-dark">
      <a class="navbar-brand" href="{% url 'home'%}">
        <img src="{% static "app/content/gdevname.png" %}" width="180" height="40"/>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'main_unity' %}">Unity</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'main_unreal' %}">Unreal Engine</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'main_cry' %}">Cry Engine</a>
          </li>
        </ul>
        <span class="navbar-text">
            {% if user%}
             <a href="#menu-toggle"  id="menu-toggle">
                <img src="{% static "app/content/GdevlogowBackground.png"%}" class="gdev-logo" width="50" height="50"/> 
             </a>
            {% else %}
             <a href="{% url 'login'%}">Log in</a> 
            {% endif %}
        </span>
      </div>
    </nav>

    <div id="wrapper">

        {% if user %}
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand"><img src="{% static "app/content/gdevname.png" %}" width="180" height="40"/></li>
                <li><a href="{% url 'account'%}">Account</a></li>
                <li><a href="{% url 'messages'%}">Messages</a></li>
                <li><a href="{% url 'articles'%}s">Articles</a></li>
                <li><a href="{% url 'favorites'%}">Favorites</a></li>
                <li><a href="{% url 'logout'%}">Logout</a></li>
            </ul>
        </div>
        {% endif %}
   
        <div class="page-content-wrapper">
        {% block content %}
        {% endblock %}
        </div>

    </div>
<script>
    $('document').ready(() => {
         $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
        })

        $('#heading-1').on('click', () => {
            $('#id_text').append("h1| |");
        })
        $('#heading-2').on('click', () => {
            $('#id_text').append("h2| |");
        })
         $('#heading-3').on('click', () => {
            $('#id_text').append("h3| |");
         })
         $('#heading-4').on('click', () => {
            $('#id_text').append("h4| |");
        })
        $('#button-text').on('click', () => {
            $('#id_text').append("p| |");
        })
        $('#button-link').on('click', () => {
            $('#id_text').append("a| |");
        })
        $('#button-pic').on('click', () => {
            $('#id_text').append("pic| |");
        })
        $('#button-code').on('click', () => {
            $('#id_text').append("code| |");
        })
    });
</script>
</body>
</html>
