{% extends "app/layout.html" %}

{% block title %}
Dashboard
{% endblock %}

{% block content %}
<div id="page-content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <p>
                Main page - Main page -Main page -Main page -Main page -Main page 
                -Main page -Main page -Main page -Main page -Main page -Main page 
                -Main page -Main page -Main page -Main page -Main page -Main page 
                -Main page -Main page Main page -Main page -Main page -Main page -
                -Main page -Main page -Main page -Main page -Main page -Main page -
                 Main page - Main page -Main page -Main page -Main page -Main page 
                -Main page -Main page -Main page -Main page -Main page -Main page 
                -Main page -Main page -Main page -Main page -Main page -Main page 
                -Main page -Main page Main page -Main page -Main page -Main page -
                -Main page -Main page -Main page -Main page -Main page -Main page -
                 Main page - Main page -Main page -Main page -Main page -Main page 
                -Main page -Main page -Main page -Main page -Main page -Main page 
                -Main page -Main page -Main page -Main page -Main page -Main page 
                -Main page -Main page Main page -Main page -Main page -Main page -
                -Main page -Main page -Main page -Main page -Main page -Main page -
                 </p>
            </div>
        </div>
    </div>
</div>

<script>

    $("#user-menu-toggle").click(function (e) {
        e.preventDefault();
        $("#wrapper").toggleClass("menuDisplayed");
        $("#body").toggleClass("noScroll");
    });

</script>

{% endblock %}
