{% extends "app/layout.html" %}
{% load static %}

{% block title %}
Unity
{% endblock %}

{% block content %}
    <div class="unity-img"></div>
    <div class="container-fluid">
        <div class="row">
           <div class="col-pic">
            <div class="jumbotron jumbotron-left-unity">
              <h1 class="display-4">Graphic</h1>
              <p class="lead">How to do cool graphic desing in Unity? Animations, models etc.</p>
              <p class="lead">
                <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
              </p>
            </div>
            </div>
            <div class="col-pic">
             <div class="jumbotron jumbotron-right-unity">
              <h1 class="display-4">Script</h1>
              <p class="lead">Do you prefer the logic behind the masterpiece? Scripts, Algorithms, AI etc. </p>
              <p class="lead">
                <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
              </p>
            </div>
           </div>
        </div>
    </div>
{% endblock %}
