body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #F4EFDC;
}

html {
    height:100%;
    width:100%
}


h1 {
    color:#DDA943;
}

.table-striped{
    border:none;    
}

.unity-img {
    background-image: url("unity.jpg");
    /* Full height */
    height: 60%;
    width: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.unreal-img {
    background-image: url("unreal.png");
    /* Full height */
    height: 60%;
    width: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.cry-img {
    background-image: url("cry.png");
    /* Full height */
    height: 60%;
    width: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



.row {
}

.container {
    margin-top:75px;
}

.container-fluid {
    height: 100%;
    width: 100%;
}
.col-pic {
    width:50%;
    height:40%;
}

.small-img {
    background-image: url("1.jpg");
    /* Full height */
    height: 100%;
    width: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbotron-left-unity {
    background-image: url("2.jpg");
}

.jumbotron-right-unity {
    background-image: url("3.jpg");
}

.register_box {
    width: 320px;
    height: 450px;
    background: #38150F;
    color: #F4EFDC;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    border: solid;
    border-color: #DDA943;
}

.register_form {
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 100px;
    vertical-align: central;
}

.navbar.fixed-top.navbar-expand-lg.navbar-dark {
    background-color: #38150F;
}

.msg-send {
    margin-bottom: 10px;
}

.nav-link {
    font-size:25px;
    color:#DDA943 !important;  
}

.nav-item {
    margin-left:20px;
}

.login_box {
    width: 320px;
    height: 380px;
    background: #38150F;
    color: #F4EFDC;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    border:solid;
    border-color:#DDA943;
}

.login_form {
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 100px;
    vertical-align: central;
}


.gdev-avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    left: calc(50% - 50px);
}

.btn.btn-primary.register {
    margin-left:110px;
    background-color:#DDA943;
    border-color:#F4EFDC;
}

.btn.btn-primary.login {
    position: absolute;
    left: calc(50% - 50px);
    bottom: 40px;
    background-color: #DDA943;
    border-color: #F4EFDC;
    font-size: 20px;
}

.user-logo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: solid 1px #F4EFDC;
}

.username {
    color: #DDA943;
    font-size: 60px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
    padding-bottom:40px;
}
p.msg {
    word-break: break-all;
    white-space: normal;
    background: #f4efea;
}

.no_account {
    margin-left: 40px;
    color: #F4EFDC;
}

.btn.btn-primary.logout {
    background-color: #DDA943;
    border-color: #F4EFDC;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
    margin-top: 200px;
}

.pageContent {
    margin-top: 35px;
    height:100%;
}



.list-heading {
    font-size: 24px;
    color:#DDA943;
    background-color:#38150F;
}


.activated {
    background-color:#DDA943;
    color:#F4EFDC;  
}

.

/*
.col{
    border: solid 1px black;
    text-align: center;
}*/
    
